
.envelope {width: 900px; margin: 0px auto; position: relative;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 0.7em; }
	
.intro { z-index: 10; background-color: #cccccc; padding: 20px 25px 25px 25px; margin-bottom: 0px; border-radius: 0px 0px 4px 4px; position: relative; box-shadow: 0px 0px 3px #666666; }
.intro h1 { font-weight: normal; font-size: 2.5em; margin: 0px; text-shadow: 1px 1px 0px #eeeeee; }
.intro a.h1 { font-weight: normal; font-size: 2.5em; margin: 0px; text-shadow: 1px 1px 0px #eeeeee; }
.intro .blurb { margin-top: 5px; text-shadow: 1px 1px 0px #dddddd; }
.intro .version { display: block; box-shadow: inset 1px 1px 1px #999999, inset -1px -1px 1px #ffffff; position: absolute; top: 33px; right: 35px; border-radius: 20px; background-color: #6699ff; color: #ffffff; font-weight: bold; padding: 10px 15px;  }
.intro a.version:hover { color: #d4e9ff; }

.menu { margin: 6px 0px 60px 15px; }
.menu a { margin-right: 5px; padding: 10px 10px 5px 10px; border-radius: 0px 0px 4px 4px; border: 1px solid #a8d2ff; }
.menu a:hover { background-color: #d4e9ff; }
.menu a.current { background-color: #a8d2ff; }

div.setters { position: relative; width: 722px; padding: 0px 0px 5px 0px; margin: 0px auto; }
a.setter { padding: 3px 10px 5px 10px; border-radius: 2px 2px 0px 0px;  }
a.setter.current { background-color: #666666; color: #ffffff; z-index: 10; position: relative;}
div.setters > div#arrow { z-index: 10; position: absolute; top: 0px; right: -25px; height: 50px; width: 200px; }
div.setters > div#arrow > div { position: absolute; display: block; text-align: center; line-height: 1.5em; top: -35px; right: -70px; color: #006601; text-shadow: 0px 0px 2px #ffff66; font-style: italic; }
	
.editorContainer { position: relative; width: 700px; padding: 10px; margin: 0px auto; border: 1px inset #666666;
	background-color: #ffffff; min-height: 350px; }
#editor { position: relative; }

div.submitters { position: relative; width: 724px; padding: 5px 0px 0px 0px; margin: 0px auto; text-align: right; }
button.submitter { font-family: inherit; font-size: inherit; }

div.description { font-family: Georgia, serif; font-size: 1.25em; line-height: 1.5em; margin: 50px 15px 0px 15px; color: #222222; }
div.description strong { background-color: #ffff99; padding: 2px 4px; border-radius: 2px; margin: 0px -2px; }
div.description h1 { font-weight: normal; }
div.description h2 { font-weight: normal; margin: 30px 0px 10px 0px; text-shadow: 1px 1px 0px #eeeeee; }
div.description code { font-family: "Lucinda Console", monospace; font-size: 115%; letter-spacing: -0.05em; color: #330000; background-color: #ffff99; padding: 1px 4px; border-radius: 2px; }


div.downloads { margin: 70px auto 90px auto; width: 700px; }
div.downloads > .clear { clear: both; }
div.download { width: 250px; padding: 20px; border: 7px solid #a8c5e2; border-radius: 4px; text-align: center; float: left; margin: 0px 20px; min-height: 200px; }
div.download > div.overtitle { color: #cc0033; font-weight: bold; }
div.download > div.link { margin: 20px 0px; font-size: 1.25em; }
div.download > div.link > a { text-decoration: underline; display: block; margin: 0px 25px; background-position: top center; padding-top: 55px; background-repeat: no-repeat; }
div.download > div.licence { margin-top: 15px; }

.footer { background-color: #cccccc; padding: 20px 25px 40px 25px; margin-top: 50px; border-radius: 4px 4px 0px 0px; position: relative;
	color: #222222; line-height: 1.5em;}
